<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Главные теги -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="Kudryavtsev Nicolay" />

    <!-- Фавиконы -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <!-- Мета-данные сайта (для поисковиков) -->
    <title><%=data4index.siteTitle%></title>
    <meta name="description" content="<%=data4index.metaDescr%>" />
    <meta name="keywords" content="<%=data4index.metaKeyWords%>" />

    <!-- Необязательные -->
    <meta name="rating" content="general" />
    <meta name="copyright" content="Copyright 2023" />

    <!-- Для мобильных устройств -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- http-equiv -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Подключаем CSS, JQuery -->
    <link href="css, scss/Styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Подключаем доп. файл с функциями -->
    <!-- <script src="js/Script.js"></script> -->
  </head>
  <body>
    <header>
      <div class="header">
        <div class="logo_field">
          <img
            src="<%=data4index.ParserLogo %>"
            width="100"
            height="41"
            alt="ParSir's Logo"
          />
        </div>
        <ul class="navigation_bar">
          <li><a href="/">Home</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Contact</a></li>
          <li><a href="/">About</a></li>
        </ul>
      </div>
    </header>

    <!-- Эффект паралакса для страниц сайта -->
    <div class="sample-header">
      <div class="sample-header-section">
        <h1>Scroll down to see the parallax effect</h1>
        <h2>Background landcape scrolls with its own depth</h2>
      </div>
    </div>
    <div class="sample-section-wrap">
      <div class="sample-section">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
          felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
          consequat massa quis enim.
        </p>
      </div>
    </div>
  </body>
</html>
