<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!---------- Логотип в Header ---------->
    <div class="wrapper">
      <div class="header">
        <a href="/" class="logo">
          <img src="<%=data_4_render.website_logo%>" alt="ParSir's Logo" />
        </a>
      </div>
      <!---------- Sticky Navbar ---------->
      <div id="navbar">
        <a class="active" href="/" lang="en">Home</a>
        <a class="active" href="/" lang="ru">Главная</a>
        <a href="/contact" lang="en">Contact</a>
        <a href="/contact" lang="ru">Контакты</a>
        <a href="/about" lang="en">About</a>
        <a href="/about" lang="ru">О Сервисе</a>

        <!-- prettier-ignore -->
        <button id="translate_button" lang="en" onclick="change_Lang('en')">
        <label>Eng</label>
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg" width="20px"/>
      </button>
        <!-- prettier-ignore -->
        <button id="translate_button" lang="ru" onclick="change_Lang('ru')">
        <label>Ru</label>
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Flag_of_Russia_%281991%E2%80%931993%29.svg" width="20px"/>
      </button>
      </div>
      <!---------- Основное поле ---------->
      <!-- prettier-ignore -->
      <h2 id="title" lang="ru">ParSir – сервис сбора данных для систем электронной коммерции</h2>
      <!-- prettier-ignore -->
      <h2 id="title" lang="en">ParSir is a data collection service for e-commerce systems</h2>
      <div class="main">
        <p>Main Page</p>
      </div>
    </div>
    <!---------- JavaScript Файлы ---------->
    <!-- prettier-ignore -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
      $("[lang]").hide();
      $('[lang="ru"]').show();

      function change_Lang(language = "en") {
        if (language == "en") {
          $("[lang]").hide();
          $('[lang="ru"]').show();
        } else {
          $("[lang]").hide();
          $('[lang="en"]').show();
        }
        language == "ru" ? (language = "en") : (language = "ru");
      }
    </script>
    <script type="text/javascript" async src="/extra.js"></script>
    <%- include('../partials/footer'); %>
  </body>
</html>
